.git/
dist/
**/node_modules/
node_modules/
package-lock.json
.github/
*.tgz
update.js
data/minify/
data/localization/translate.html
data/cores/logs/
!data/cores/README.md
!data/cores/package.json
data/cores/package-lock.json
minify/
.npmignore
.gitignore
build.js
update.js